@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');

:root {
  --title_font: "Array", sans-serif;
  --body_font: "DM Sans", sans-serif;
}

* {
  font-family: var(--body_font);
}

* h1 {nt-family: "Array", sans-serif;
}

